/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
}

html {
  font-size: 62.5%; /* 1 rem = 10px */
  font-family: 'Lobster', cursive;
}

a {
  text-decoration: none;
}

/* img {
  display: block;
} */

body {
  background-color: #FFFBD6;
  height: 100vh;
}

body * {
  font-family: 'Lobster', cursive;
  
}

#container {
  width: 100%;
  max-width: 58.8rem;
  /* border: 0.1rem solid red; */
  margin: 5.6rem auto 0;
  padding: 0 2.4rem;
}

header img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  overflow-x: hidden;
  width: 100%;
  height: 200px;
}

#profile {
  text-align: center;
  padding: 2.4rem;
}

#profile img {
  width: 18rem;
}

#profile h4 {
  color:#3198C2;
  font-family: Lobster;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.5rem;
  padding-top: 1.6rem;
}

#profile h4 span {
  color:#A8CF45;
}

#profile p {
  color:#A45E4D;
  font-family: Open Sans;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.2rem;
  margin-top: 0.8rem;
}

/* Links */

ul {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}



ul li a {
  /* border: 1px solid red; */

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1.6rem 2.4rem;

  background: rgba(247, 193, 201, 0.60);
  border: 0.2rem solid #F493AE;
  border-radius: 0.8rem;

  backdrop-filter: blur(0.4rem);
  -webkit-backdrop-filter: blur(0.4rem);

  color:#F493AE;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;

  transition: all 0.5s;
}

ul li a:hover {
  /* border: 2.5px solid #3198C2;
  background: rgba(49, 152, 194, 0.40);
  color:#3198C2; */

  border: 0.2rem solid #F493AE;
  background: rgba(247, 193, 201, 0.40);
  color:#F493AE;
  
  /* border: 2px solid #A8CF45;
  background: rgba(168, 207, 69, 0.20);
  color: #A8CF45; */

  /* border: 2px solid #A45E4D;
  background: rgba(164, 94, 77, 0.70);
  color: #A45E4D; */
}



footer {
  padding: 2.4rem 0;
  text-align: center;
  color:#A45E4D;
  font-family: Open Sans;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
}

footer p{
  text-align: center;
  margin-top: 0.8rem;
  color:#A45E4D;
  font-family: Open Sans;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
}

footer a {
  text-align: center;
  color:#A45E4D;
  font-family: Open Sans;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
  text-decoration: underline;
}

/* RESPONSIVO */
@media only screen and (max-width: 760px) {
  header img {
  background-image: url("../img/bg-mobile-header.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  overflow-x: hidden;
  width: 100%;
  height: 117px;
  }
}

